@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root{
    /* --pri-color: #CF342B ;
    --sec-color: #580B1D;
    --grad-color: linear-gradient(#CF342B,#580B1D); */
    /* --bg-color: rgb(93 255 169 / 17%); */
    /* --bg-color1: rgb(33, 35, 82); */

    --white: #fff;
    --red: #df4759;
    --blue-color: aliceblue;
    --pri-color: rgba(240, 248, 255, 0.534);
    /* --pri-color: rgb(247,250,255); */
    --sec-color: #004582;
    --third-color: #64c3ed;
    --fourth-color: #3f7392;
    --grad-color: linear-gradient(-45deg, #64c3ed 0%, #004581 100% );
    --grad-color2: linear-gradient(180deg, #3f7392 0%, #004581 100% );
    }

/* body{
    background: var(--pri-color);
   
} */
*{
    font-family: 'Montserrat', sans-serif;
}
header{

    background: var(--pri-color);
    object-fit: cover;
    
}


/* Start header */

/* nav{
    background: rgba(240, 248, 255, 0.692);
   
} */

.text-sec{
    color: var(--sec-color);
}

.text-fourth{
    color: var(--fourth-color);
}


    .text-grad{
    
        /* font-size: 16px;
        background-image: var(--grad-color);
        background-clip: text;
        color: transparent; */
        background: var(--grad-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }

    .text-grad2{
    
        /* background: var(--grad-color2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
         color: var(--white);
        
    }

   


.nav-item{
    font-size: 20px;
    font-weight: 600;
    padding: 0 8px;
   
}

.nav-link{
    color: rgba(112, 112, 112, 0.658);
}

.active{
    color: var(--sec-color) !important;
}

.pri-btn{

    background: var(--sec-color);
    color: var(--white);
    font-size: 18px;
    border: 1px solid var(--sec-color);
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 5px;

    box-shadow: #00458138  0px 7px 20px 0px;

    /* box-shadow: #102b428c  0px 2px 7px 0px; */
   
}

.pri-outline-btn{
    
    border: 1px solid var(--sec-color);
    color: var(--sec-color);
    font-size: 18px;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 5px;
    background: none;
    box-shadow: #00458138  0px 5px 10px 0px;
    

    /* box-shadow: #102b428c  0px 2px 4px 0px; */
   
}

.learnmore{
   text-decoration: none;
    color: var(--sec-color);
    font-size: 20px;
    font-weight: 600;
    padding: 6px 0px;
    /* border-radius: 5px; */
    cursor: pointer;
    border: 2px solid var(--pri-color);
    
}
.learnmore:hover{
   color: var(--sec-color);
}

.learnmore:hover{
    border-bottom: 2px solid var(--sec-color);
    /* box-shadow: #00458138  0px 5px 10px 0px; */
    border-radius: none;
  
    
}

.pri-btn:hover,.pri-outline-btn:hover{
    opacity: 0.8;
}



.bannerimg{
     position: relative;
    /* background: var(--pri-color); */
     width: 100%;
     height: 480px;
   
}

.bannerheader{
 font-size: 50px;
 font-weight: 700;
 color: var(--sec-color);
 line-height: 75px;
}

span.textani{
    border-right: 5px solid rgba(211, 120, 120, 0.616);
    
    margin-left: 10px;
    animation-name: mycursorani;
    animation-duration: 1s;
    
    animation-iteration-count: infinite;
    
    

}

@keyframes mycursorani{
    from{
        border: none;
       
    }
    to{
        border-right: 3px solid var(--red);
      
    }
}

.bannertext{
        color: var(--fourth-color);
}

.toji{

    position: absolute;
    z-index: 9;
    /* left: -20px; */
    right: 0;
    /* bottom: 80px; */
   
}

.sakura1{
    position: absolute;
    
    right: 0px;
    top: 100px;
    z-index: 10;

    animation-name: sakuraani;
    animation-duration: 2s;
    animation-timing-function: linear;
   
}

.sakura2{
    position: absolute;
    
    right: 0px;
    top: 190px;
    z-index: 10;
    
    animation-name: sakuraani;
    animation-duration: 2s;
    
    animation-timing-function: linear;
}

.cloud{
    position: absolute;
    
    right: 0px;
    top: 10px;
    z-index: 12;

    animation-name: cloudani;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: inherit;
    animation-timing-function: linear;
}

.circle{
    width: 400px;
    height: 400px;
    /* background: var(--sec-color); */
    /* background-color: rgb(13, 30, 44); */
    /* background: rgb(93 255 169 / 17%); */
    /* background-color: rgb(255, 204, 74); */
    border-radius: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
}

@keyframes cloudani{
    from{
        right: 100px;
        opacity: 0;
    }
    /* 50%{
       
        opacity: 0.3;
    } */
    to{
        right: 0px;
        opacity: 1;
    }
}

@keyframes sakuraani{
    from{
       right: -30px;
       opacity: 0;
    }
    to{
        right: 0px;
        opacity: 1;
    }
}

/* End Header */

/* Start Counter */

/* .counter-container{
    background: var(--pri-color);
} */

.counterbox{
    background: var(--pri-color);
    color: var(--sec-color);
    /* box-shadow: rgba(142, 149, 156, 0.2) 0px 8px 20px; */
    /* margin-top: -60px; */
    border-radius: 0px;
    margin-bottom: 30px;
}

.counterbox h2{
    font-size: 40px;
   
    /* font-family: 'Montserrat', sans-serif; */
}

.counter{
    background: var(--white);
    box-shadow: rgba(142, 149, 156, 0.1) 0px 8px 20px;
    border-radius: 20px;

}
.counter-content{
    position: relative;
    transition: all 0.5s;
}


.counter-content .icons{
    width: 40px;
	height: 40px;
	border-radius: 50%;
	background: var(--blue-color);
	display: flex;
	justify-content: center;
	align-items: center;

	
	position: absolute;
	left: calc(50% - 25px);

    
    
	/*top: -60px;*/
}

.counter-content:hover{
    background-color: var(--sec-color);
    color: var(--white);
    box-shadow: #00458138  0px 5px 10px 0px;
    border-radius: 10px;
    animation: fadeIn;
   
}

.counter-content:hover h6{
    color: var(--white);
}








/* End Counter */

/* Start Intro  */
.introimgbox{
    position: relative;
    width: 100%;
    height: 380px;
}

.introheader{
    font-size: 40px;
    font-weight: 700;
    color: var(--grad-color);
    
}

.person{
   
    z-index: 9;
    box-shadow: rgba(142, 149, 156, 0.1) 0px 8px 20px;
    border-radius: 20px;
    top: 30px;
    left: 30px;
    position: absolute;
    
}
.square1{
    width: 100px;
    height: 100px;
    background: var(--third-color);
    opacity: 0.8;
    border-radius: 50%;
    position: absolute;

    top: 0;
    left: 0;
    z-index: 1;
}

.square2{
    width: 100px;
    height: 100px;
    background: var(--fourth-color);
    opacity: 1;
    border-radius: 50%;
    position: absolute;

    top: 250px;
    right: 0;
    z-index: 1;
}

.square3{
    width: 400px;
    height: 250px;
    background: var(--blue-color);
   
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 1;
}

.airplane{
    position: absolute;
    right: -40px;
    top: 190px;
    z-index: 10;
    transform: rotate(-10deg);
}

.path{
    position: absolute;
    height: 200px;
    left: 380px;
    top: 200px;
    z-index: 10;
    transform: rotate(230deg);

    opacity: 0.5;
    
}

.path1{
    position: absolute;
    height: 200px;
    left: 160px;
    top: 220px;
    z-index: 10;
    transform: rotate(-100deg);
    opacity: 0.5;
    
}





/* End Intro */


   
